// ButtonS

.btn-our {
    font: $font-btn;
    color:$millbrook;
    border-radius: 10%;
    background-color: $ebb;
    box-sizing: content-box;
    margin: 1.4em 1.4em 1.4em 0;
    padding: 0.5em 1.5em 0.5em 1.5em;
}

