//Navegation
.nav {
    background-color: $wild-sand;
    width: 38em;
    height: 3.2em;
    border-radius: 50px;
    float: right;

}


ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    border-left: 0.06em solid $shady-lady;

    &:first-child {
    border-left: none;
    }
}

li a {
    display: block;
    padding: 0.875em 1.87em;

     &:hover{
        color: $millbrook;
        font-style: bold;
        background-color: $mandys-pink;
    }
}
