// Header

.wrapper-head {
	width: 1058px;
	margin: 0 auto;
	margin-top: 35px;
}

.header {
	clear: both;
	height: 480px;
	border-top: 10px solid $millbrook;
	background-color: $mercury;
}

.img-logo {
	float: left;
}
