//variables

//colors

$roman-coffee: #845f51;
$millbrook: #664735;
$mandys-pink:  #f3b9b9;
$mercury: #e8e8e8;
$shady-lady: #9d9c9d;
$ebb: #edebea;
$wild-sand: #f5f4f4;

//typo

$font-titl-h2:  normal 1.06em 'Didact Gothic', sans-serif;
$font-titl-h3:  normal 1em 'Didact Gothic', sans-serif;
$font-p: normal 0.8em 'Open Sans Condensed', sans-serif;
$font-btn: italic bold 1em 'Open Sans Condensed', sans-serif;
$font-nav: normal 0.75em 'Open Sans Condensed', sans-serif;



