// Buttons

.btn-our {
    font: $font-btn;
    color:$millbrook;
    border-radius: 10%;
    background-color: $ebb;
    box-sizing: content-box;
    margin: 23px 23px 23px 0;
    padding: 9px 25px 9px 25px;
}

